body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body a {
  text-decoration: none;
}

.flex {
  display: flex;
}

#logo {
  width: 150px;
  margin-bottom: 60px;
  cursor: pointer;
}

#nav-logo {
  width: 150px;
  cursor: pointer;
}

.login-bg img {
  width: 100%;
}

.login-form {
  box-shadow: -20px 0px 20px -20px whitesmoke;
  height: 100vh;
}

.login-form h3 {
  color: #213f7d;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 20px;
}

.login-form p {
  color: #949bae;
  margin-bottom: 40px;
}

.login-form a {
  color: #39cdcc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

.login-form button {
  border: none;
  background-color: #39cdcc;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-size: small;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: 600;
}

.login-form input {
  outline: none;
  border: none;
  padding: 10px;
}

.login-form input:focus,
#navbarScroll form input:focus {
  box-shadow: none;
}

#showPassword {
  color: #39cdcc;
  text-transform: uppercase;
  font-size: small;
  height: min-content;
  width: fit-content;
  margin-bottom: 0px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.login-form span {
  border: 2px solid #d8dade;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

#navbarScroll form input {
  outline: none;
  border: 1px solid #d8dade;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;
  padding-left: 10px;
  width: 300px;
}

#navbarScroll form svg {
  background-color: #39cdcc;
  width: 50px;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#navbarScrollingDropdown {
  color: #213f7d;
}

#navbarScroll {
  margin-left: 100px;
}

#navbarScroll form input::placeholder {
  font-size: 12px;
  color: silver;
  font-weight: 450;
}

button .navbar-toggler:focus {
  border: none;
  box-shadow: none;
  background-color: #213f7d;
}

#sidebar-md {
  display: none;
}

#sidebar-lg {
  box-shadow: 20px -20px 20px -10px whitesmoke;
  padding-top: 40px;
}

#navbarScroll section img {
  width: 48px;
  height: 48px;
}

#sidebar-lg img,
#sidebar-md img {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

#sidebar-lg p,
#sidebar-md p {
  text-transform: capitalize;
  font-weight: 400;
  height: 16px;
  line-height: 18.77px;
  color: #213f7d;
  margin-right: 15px;
}

#sidebar-lg span,
#sidebar-md span {
  cursor: pointer;
  padding-left: 20px;
}

/* #sidebar-lg {
} */

#sidebar-lg span:hover p,
#sidebar-md span:hover {
  text-decoration: underline;
}

#sidebar-lg ul,
#sidebar-md ul {
  width: 100%;
  margin-top: 40px;
}

#sidebar-lg ul h6,
#sidebar-md ul h6 {
  color: #545F7D;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.08px;
  text-align: left;
  margin-left: -30px;
  margin-bottom: 10px;
  padding-left: 20px;
}

#sidebar-lg li,
#sidebar-md li {
  list-style: none;
  margin-left: -30px;
  width: initial;
  color: #213f7d;
  padding: 5px 0px;
  opacity: 0.6;
  font-size: 16px;
  line-height: 19px;
}

#active-link span {
  font-weight: 800;
  background-color: #d0f4f4;
  align-content: center;
  padding-top: 10px;
  border-left: 5px solid #39cdcc;
  margin-left: -5px;
}

#active-link span p {
  color: #213f7d;
  font-weight: 500;
}

.user-container {
  box-shadow: 0px -15px 20px -30px black;
}

.cardContainer p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
}

.cardContainer {
  background-color: white;
  color: #213f7d;
  box-shadow: 20px 20px 10px -25px black;
  height: 160px;
}

.cardContainer h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}

.cardContainer img {
  padding: 10px 0px 10px 20px;
}

@media(max-width:425px) {
  #logo {
    display: block;
    margin-bottom: 0px;
  }

  .login-bg img {
    display: none;
  }

  .login-form h3 {
    margin-top: auto;
  }

  #navbarScroll form {
    display: none;
  }

  #navbarScroll {
    margin-left: 0px;
  }

}

@media(max-width:768px) {
  #navbarScroll form {
    display: none;
  }

  #navbarScroll {
    margin-left: 0px;
  }

  #sidebar-md {
    display: block;
    margin-top: 20px;
    margin-left: -20px;
  }

  #sidebar-lg {
    display: none;
  }
}